body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden; /* Impedisce il ridimensionamento della pagina */
}

#top-buttons, #bottom-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

#top-buttons button, #bottom-buttons button {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #4B0082;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: none; /* Disabilita le transizioni */
  box-sizing: border-box; /* Include padding e border nelle dimensioni */
}

#top-buttons button:focus, #bottom-buttons button:focus {
  outline: none; /* Rimuove il focus outline */
  background-color: #9370DB; /* Mantiene il colore di hover */
}

#top-buttons button:hover, #bottom-buttons button:hover {
  background-color: #9370DB;
}

#main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  overflow: hidden; /* Impedisce il ridimensionamento della pagina */
}

#main-container.with-multitrack {
  justify-content: space-between;
}

#multitrack-column {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 10px; /* Aggiungi margini per separare le colonne */
  display: none; /* Nascondi inizialmente */
}

#container {
  background-color: lightblue;
  height: 500px;
  width: 100%; /* Assicura che il contenitore prenda tutta la larghezza disponibile */
  max-width: 60vw;
  overflow-x: auto; /* Mostra sempre la barra di scorrimento orizzontale */
  overflow-y: auto; /* Abilita lo scrolling verticale */
  margin-bottom: 20px;
  white-space: nowrap; /* Impedisce al contenuto di andare a capo */
}

.track-inner-container {
  display: inline-block; /* Allinea gli elementi in linea */
  height: 100%;
  width: 3000px; /* Larghezza fissa per simulare contenuto largo */
}

#audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  width: auto;
}

#controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

#controls button {
  margin-right: 10px;
}

#zoom-hint-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

#zoom-hint-container label {
  margin-right: 10px;
}

#hint {
  margin-left: 10px;
  margin-right: 40px;
  padding: 10px;
  background-color: #fdfd96; /* Giallo post-it */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Font simile a quello usato sui post-it */
}

input[type="text"], input[type="number"], button, input[type="file"], input[type="range"] {
  margin: 5px 0;
  padding: 10px;
  font-size: 14px;
}

#chat-column {
  flex: 0 0 250px; /* Riduce la larghezza della colonna della chat */
  max-width: 250px;
  margin: 0 10px 0 20px; /* Aggiunge margine sinistro per spostare a destra */
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Aggiunge flessibilità alla colonna della chat */
  height: 100%;
}

#room-info, #join-room-container, #chat-container {
  margin-bottom: 20px;
}

#message-container {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  height: 400px; /* Altezza fissa per il contenitore dei messaggi */
  overflow-y: auto; /* Abilita lo scrolling verticale */
}

#message-input {
  width: calc(100% - 80px);
  padding: 10px;
  margin-right: 10px;
}

#send-message-button {
  padding: 10px;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.message.system {
  font-style: italic;
  color: gray;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.message .nickname {
  font-weight: bold;
}

.message .nickname.self {
  color: blue;
}

.message .nickname.other {
  color: red;
}

#leave-room-button {
  display: inline-block; /* Assicura che il pulsante sia visibile */
  margin-top: 10px;
}

#shortcut-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#shortcut-popup h3 {
  margin-top: 0;
}

#shortcut-popup ul {
  list-style-type: none;
  padding: 0;
}

#shortcut-popup ul li {
  margin-bottom: 10px;
}

#shortcut-popup button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
}
